<div class="table-responsive">
    <table class="table table-hover table-center table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>№</th>
          <th>Time</th>
          <th>CrewId</th>
          <th>AeroplaneId</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departure of departures | async; let i = index">
          <td>{{i+1}}</td>
          <td>{{departure.time | date:'medium'}}</td>    
          <td>{{departure.crewId}}</td>
          <td>{{departure.airplaneId}}</td>
          <td class="btn-box">
            <button class="btn btn-sm" (click)="goToDetail(departure.id)">Details</button>
            <button class="btn btn-sm" (click)="delete(departure.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  