<div class="table-responsive">
	<table class="table table-hover table-center table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>№</th>
				<th>Name</th>
				<th>DeparturePoint</th>
				<th>Destinition</th>
				<th>ArrivalTime</th>
				<th>DepartureTime</th>
				<th>Tickets</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let flight of flights | async; let i = index">
				<td>{{i+1}}</td>
				<td>{{flight.name}}</td>
				<td>{{flight.departurePoint}}</td>
				<td>{{flight.destinition}}</td>
				<td>{{flight.arrivalTime | date:'medium'}}</td>
				<td>{{flight.departureTime | date:'medium'}}</td>
				<td>{{flight.ticketsId.length}}</td>
				<td class="btn-box">
					<button class="btn btn-sm" (click)="goToDetail(flight.id)">Details</button>
					<button class="btn btn-sm" (click)="delete(flight.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
