<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Airport Dispatcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">        
        <li><a class="nav-link" routerLink="/stewardesses" routerLinkActive="active">Stewardesses</a></li>
        <li><a class="nav-link" routerLink="/pilots" routerLinkActive="active">Pilots</a></li>
        <li><a class="nav-link" routerLink="/aeroplanes" routerLinkActive="active">Aeroplanes</a></li>
        <li><a class="nav-link" routerLink="/aeroplanetypes" routerLinkActive="active">Aeroplane types</a></li>
        <li><a class="nav-link" routerLink="/crews" routerLinkActive="active">Crews</a></li>
        <li><a class="nav-link" routerLink="/flights" routerLinkActive="active">Flights</a></li>
        <li><a class="nav-link" routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
        <li><a class="nav-link" routerLink="/departures" routerLinkActive="active">Departures</a></li>
      </ul>
    </div>
  </nav>


<div class="body-container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
	<ul class="list-unstyled list-inline text-center">
		<li class="list-inline-item">
			<a class="btn-floating btn-tw mx-1">
				<i class="fa fa-email"> </i>
			</a>
    </li>
    <li class="list-inline-item">
        <a class="btn-floating mx-1" href="https://github.com/VoBilyk">
          <i class="fa fa-github"> </i>
        </a>
    </li>
		<li class="list-inline-item">
			<a class="btn-floating mx-1" href="https://www.linkedin.com/in/volodymyrbilyk/">
				<i class="fa fa-linkedin"> </i>
			</a>
    </li>
    <li class="list-inline-item">
        <a class="btn-floating mx-1" href="https://www.facebook.com/bilyk96">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
	</ul>
	<span>© 2018 Volodymyr Bilyk</span>
</footer>