<main role="main" style="text-align: left">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Airport Dispatcher</h1>
			<p>This is angular client for airport dispatcher, where you can get information about flights, departures, aeroplanes, aeroplane
				type, pilots, stewardesses, crews, tickets. Also you can control this information, like create new, update exist items
				or delete unnecessary.</p>
			<p>Client gets information from WebApi service which work with database and handles request from this client.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="https://github.com/VoBilyk/Lesson7_AirportAsync" role="button">WebApi project &raquo;</a>
			</p>
		</div>
	</div>
</main>
