<div class="table-responsive">
    <table class="table table-hover table-center">
      <thead class="thead-dark">
        <tr>
          <th>№</th>
          <th>Model</th>
          <th>Places</th>
          <th>Carrying(kg)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aeroplaneType of aeroplaneTypes | async; let i = index">
          <td>{{i+1}}</td>
          <td>{{aeroplaneType.model}}</td>
          <td>{{aeroplaneType.places}}</td>
          <td>{{aeroplaneType.carrying}}</td>
          <td class="btn-box">
            <button class="btn btn-sm" (click)="goToDetail(aeroplaneType.id)">Details</button>
            <button class="btn btn-sm" (click)="delete(aeroplaneType.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  