<div class="my-3 p-3 bg-white rounded shadow-lg table-detail-center">
	<h5>Crew Information</h5>
	<hr>
	<div class="form-group">
		<label>Id</label>
		<div class="form-control">{{crew.id}}</div>
	</div>
	<div class="form-group">
		<label>PilotId</label>
		<input class="form-control" [(ngModel)]="crew.pilotId" />
	</div>
	<div class="form-group">
		<label>Stewardesses</label>
		<div class="form-control">
			{{crew.stewardessesId}}
		</div>
	</div>

	<div class="btn-box">
		<button class="btn" (click)="update(crew.id)">Update</button>
		<button class="btn" (click)="delete(crew.id)">Delete</button>
	</div>
	<div class="operation-result"></div>
</div>