<div class="table-detail-center">
	<div class="form-group">
		<label>Id</label>
		<div class="form-control">
			{{flight.id}}
		</div>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" name="name" [(ngModel)]="flight.name" />
	</div>
	<div class="form-group">
		<label>Departure point</label>
		<input class="form-control" name="departure_point" [(ngModel)]="flight.departurePoint" />
	</div>
	<div class="form-group">
		<label>Destinition</label>
		<input class="form-control" name="destinition" [(ngModel)]="flight.destinition" />
	</div>
	<div class="form-group">
		<label>Arival time</label>
		<input type="datetime" class="form-control" name="arrival_time" [(ngModel)]="flight.arrivalTime" />
	</div>
	<div class="form-group">
		<label>Departure time</label>
		<input type="datetime" class="form-control" name="departure_time" [(ngModel)]="flight.departureTime" />
	</div>
	<div class="form-group">
		<label>Tickets</label>
		<input type="number" class="form-control" name="experience" [(ngModel)]="flight.ticketsId.length" />
	</div>

	<div class="btn-box">
		<button class="btn" (click)="update(pilot.id)">Update</button>
		<button class="btn" (click)="delete(pilot.id)">Delete</button>
	</div>
</div>