body,
input[text],
button {
	color: rgb(65, 65, 65);
	font-family: Helvetica;
}

.body-container{
	max-width: 800px;
}

.table-add-item {
	margin: 40px auto 0px;
	max-width: 700px;
	white-space: nowrap;
	text-align: center;
}

.table-center {
	margin: 20px auto;
	max-width: 0%;
	white-space: nowrap;
	text-align: center;
}

.table-detail-center {
	margin: 40px auto;
	max-width: 350px;
	white-space: nowrap;
}

.btn-box {
	display: grid;
	justify-content: center;
	grid-template-columns: 80px 80px;
	grid-gap: 10px;
}

.table-data-center {
	text-align: center;
}
